/* common styles */

/* ---------------
    header styles
----------------- */
header {
    background-color: #FFF9F4;
}
.banner-img {
    width: 77%;
}
.services-icon {
    width: 75px;
    height: 75px;
}
.services-img {
    width: 550px;
    margin-left: 5rem;
}